<h4>Create a new TODO item</h4>
<form>
  <div class="form-group">
    <label for="todoTask">What is the task title?</label>
    <input type="text" class="form-control" id="todoTask" name="todoTask" [(ngModel)]="todoTask" placeholder="Enter your task description here">
  </div>
  <div class="form-check form-check-inline">
    <input type="checkbox" class="form-check-input" id="todoDone" name="todoDone" [(ngModel)]="todoDone" value="false">
    <label class="form-check-label" for="todoDone">Is the task done?</label>
  </div>
  <button type="submit" class="btn btn-primary float-" (click)="addTodo()">Submit</button>
</form>
<br>
<h4>My TODO list</h4>

<ul>
  <div *ngFor="let todo of todos">
    {{todo.task}}
  </div>

</ul>
